body {
    background: white url("images/bg.png");
}

.box{
    padding:5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}

.navbar {
    border-radius: 0;
}

.navbar-brand {
    font-family: 'Satisfy', cursive;
}

.send {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}

.row {
    margin-right: 0px;
}

.caption {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}